.jumpbotron{
 background-color:#1792a4;
 columns: #142b3b;
    margin-top: 50px;
}
.btn{
    background-color:black;
    color:white;
}
footer{
    padding: 10px 10px 0 10px; 
    background-color: black;
    color: blanchedalmond;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-revista{
    flex: 1 150px;
    margin-top: 10px;
}
.btn-navegar{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}